# Environment variables
.env

# Virtual environments
venv/
env/

# Python cache files
__pycache__/
*.pyc

# PyCharm IDE files
.idea/

# VSCode settings
.vscode/

# Build folders
build/
dist/
*.egg-info/

# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Database files
db.sqlite3

# Temporary files
*.tmp
